@{
    ViewBag.Title = "Home";
}

<div class="container" id="branches">
    
</div>

<hr />
<footer>
    <p>&copy; @DateTime.Now.Year - DRGT Test Server</p>
</footer>

<script src="~/Scripts/MainJavascript.js"></script>