@{
    ViewBag.Title = "Home";
}

<div class="container" id="branches">
    
</div>

<hr />
<footer>
    <p>&copy; @DateTime.Now.Year - DRGT Test Server</p>
</footer>

<script src="~/Scripts/jquery.signalR-2.4.2.min.js"></script>
<script src="~/signalr/hubs"></script>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="~/Scripts/MainJavascript.js"></script>
